{% extends 'base.html.twig' %}

{% block title %}Home - Annuaire bien-être
{% endblock %}

{% block content %}
	<div class="col-10 border">
	<h1>Annuaire Bien-Etre</h1>
	<p>Bienvenu sur le site
		<span class='bold'>Annuaire Bien-Etre</span>
	</p>
	{# message flash #}
	{% for flash_error in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    {% for flash_success in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ flash_success }}</div>
    {% endfor %}

	<p>Ce site est dédié aux commerçants désireux de promouvoir leurs services sur cette plateForme.<br>
		Vous pourrez vous inscrire en créant un compte PRESTATAIRE.</p>
	<p>En tant qu'internaute, vous retrouverez au même endrois une multitude de services et de prestataires dédiés au  'bien-être'.<br>
		N'hésitez pas à faire votre choix parmis nos diverses catégories de services.</p>
	<h2>Nos 4 derniers prestataires de services inscrits : </h2>
	
		<form class="global me-4 ps-1" method="POST">

			{# <select class="beau" name="categorieDeService" multiple> #}
			<select class="beau" name="prestataire4Liste" id="listePrestataire" multiple>
				{% for prestataire in prestataires %}
				<option value="{{ prestataire.id }}" data-url="{{ path('app_detailPrestataire', { 'id' : prestataire.id }) }}">{{ prestataire.nom }}</option> 


					<option value="valeur2">{{ prestataire.email }}</option>
					<option value="valeur">id : {{ prestataire.id }}</option>

				{% endfor %}
				<!-- Ajoutez d'autres options si nécessaire -->
			</select>

		</form>
	</div>
	
	<script>
			document.addEventListener('DOMContentLoaded', function() {
				const selectElement = document.getElementById('listePrestataire');
				selectElement.addEventListener('change', function() {
					const selectedOption = selectElement.options[selectElement.selectedIndex];
					const url = selectedOption.getAttribute('data-url');
						if (url) {
						window.location.href = url;
					}

				});
			});
		</script>
		</div>
		<div class="col-4 border">
							{% block slider %}
								<p>le slider</p>
							{% endblock %}
						</div>
{% endblock %}
