{% extends 'base.html.twig' %}

{% block title %}Hello PrestataireSearchController!{% endblock %}

{% block content %}

            <h1>LISTE de résultats - de votre RECHERCHE pour votre/vos Prestataire(s)</h1>

        {# {% if prestataires|length == 0 %} 
            <p>Aucun résultat pour votre recherche !</p>   
        {% endif %} #}
        <p>{{prestataires|length}} 
            {% if prestataires|length  == 0 or prestataires|length == 1 %} résultat 
            {% else %} résultats 
            {% endif %} pour votre recherche</p>

        {% for prestataire in prestataires %} 
        <div class="border my-3">
        {# ici il me donne la categories le string comme id et je veux le nom je dois aller chercher le nom de la catégorie via une nouvelle requête #}
        {# je dois transformer mes objets prestataire.commune en des strings revoir la théorie en POO  VOIR fichier Entity User.php méthode __toString() #}
        
            {% for categorie in categories %}
            <p>nom de la catégorie: {{categorie.nom}}</p> 
            {% endfor %}
            <p class="fw-bold">nom du prestataire : {{prestataire.nom}}</p>

            <p>numéro du code postal: {{prestataire.adresseCP}}</p>
            <p>nom de la commune : {{prestataire.commune }}</p>
            <p>nom de la province : {{prestataire.adresseProvince|upper}}</p>  
            
        </div>
        {% endfor %}    
{% endblock %}
